<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abdalsalam.logic.flutter">
    
    <!-- Permissions for app restart functionality -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    
</manifest>